@import "../scss/App.scss";

.gallery {
    @include Responsive(xs) { --padding-x: 10.5px; }
    @include Responsive(sm) { --padding-x: 12px; }
    @include Responsive(xl) { --padding-x: 15px; }

    .cus-container {
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);
    }

    .fetch-video {
        .player-wrapper {
            position: relative;
            padding-top: 56.25%;
            
            .react-player {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .fetch-image {
        .cus-container {
            padding-top: 58px;
            padding-bottom: 58px;
        }

        h2 {
            font-weight: 500;
            font-family: Gilroy-Semibold;

            @include Responsive(xs) { font-size: 20px; }
            @include Responsive(sm) { font-size: 28px; }
        }

        .img-wrap {
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
    }

    .fetch-location {
        background: linear-gradient(to right, #f1c50e 0%, #f1c50e 60%, #391440 60%, #391440 100%);

        .cus-container {
            padding-top: 58px;
            padding-bottom: 58px;
        }

        .row-location {
            @include Responsive(xs) {
                flex-wrap: wrap-reverse;
                row-gap: 24px !important;
            }
            @include Responsive(sm) {
                flex-wrap: wrap-reverse;
                row-gap: 24px !important;
            }
        }

        .content-wrap {
            margin-bottom: 64px;

            h3 {
                margin-top: 20px;
                margin-bottom: 18px;
                color: #fff;
                font-size: 24px;
                text-align: left;
                font-family: Gilroy-Semibold;
            }

            p {
                color: #fff;
                font-size: 18px;
                text-align: left;
                margin-bottom: 4px;
                font-family: Gilroy-Regular;
            }
        }

        .social-wrap {
            h3 {
                margin-top: 20px;
                color: #fff;
                font-size: 24px;
                text-align: left;
                margin-bottom: 18px;
                font-family: Gilroy-Semibold;
            }

            .list-icon {
                margin-bottom: 16px;
                display: flex;
                .icon-wrap {
                    width: 30px;
                    height: 30px;
                    background-color: #FFFFFF;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    .social-icon {
                        max-width: 60%;
                        max-height: 60%;

                        path {
                            fill: #f1c50e;
                        }
                    }
                    
                }
                a:nth-child(2),a:nth-child(3) {
                    margin-left: 15px;
                }
            }

            p {
                color: #fff;
                font-size: 18px;
                text-align: left;
                margin-bottom: 0;
                font-family: Gilroy-Regular;
            }
        }

        .img-wrap {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        
    }
}