@import "../scss/App.scss";

.homepage {
    @include Responsive(xs) { --padding-x: 10.5px; }
    @include Responsive(sm) { --padding-x: 12px; }
    @include Responsive(xl) { --padding-x: 15px; }
    --primary-color: #FFBE16;

    .cus-container {
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);
    }

    .homepage-banner {
        background-color: var(--primary-color);
        background-repeat: no-repeat;
        background-size: cover;

        .content-wrap {
            position: relative;
            display: flex;
            justify-content: space-between;

            .company-name-wrap {
                display: flex;
                flex-direction: column;

                @include Responsive(sm) {
                    width: 120px;
                }
                @include Responsive(lg) {
                    width: 146px;
                }

                h1 {
                    display: inline-block;
                    text-transform: uppercase;
                    font-family: "Poppins", Sans-serif;
                    font-weight: 800;
                    background: linear-gradient(to bottom, transparent 0%, transparent 50%, #FFFFFF 50%, #FFFFFF 100%);
                    line-height: 44px;
                    margin-top: 0;
                    margin-bottom: 0;
                    text-align: left;
                    padding-left: 10px;
                    z-index: 2;
                    position: relative;
                    @include Responsive(xs) {
                        font-size: 24px;
                    }
                    @include Responsive(sm) {
                        font-size: 26px;
                    }
                    @include Responsive(md) {
                        font-size: 32px;
                    }
                    @include Responsive(lg) {
                        font-size: 36px;
                    }
                    @include Responsive(xl) {
                        font-size: 40px;
                    }

                    &:nth-child(1) {
                        width: 260px;
                        margin-top: 30px;
                        div {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            background-color: #000;
                            animation: widthTransition1 5s infinite;
                            
                        }

                        @include Responsive(xs) {
                            width: 200px;
                        }
                        @include Responsive(sm) {
                            width: 180px;
                        }
                        @include Responsive(lg) {
                            width: 220px;
                        }
                        @include Responsive(xl) {
                            width: 260px;
                        }
                    }
                    &:nth-child(2) {
                        width: 365px;

                        div {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            background-color: #000;
                            animation: widthTransition2 5s infinite;
                        }

                        @include Responsive(xs) {
                            width: 250px;
                        }
                        @include Responsive(sm) {
                            width: 220px;
                        }
                        @include Responsive(md) {
                            width: 280px;
                        }
                        @include Responsive(lg) {
                            width: 365px;
                        }
                    }
                    &:nth-child(3) {
                        text-transform: capitalize;

                        div {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            background-color: #000;
                            animation: widthTransition3 5s infinite;
                        }

                        @include Responsive(xs) {
                            font-size: 20px;
                            width: 130px;
                        }
                        @include Responsive(sm) {
                            font-size: 20px;
                            width: 130px;
                        }
                        @include Responsive(md) {
                            font-size: 24px;
                            width: 160px;
                        }
                        @include Responsive(lg) {
                            font-size: 32px;
                            width: 180px;
                        }
                    }
                }
            }

            .banner-img-wrap {
                padding-top: 20px;
                padding-bottom: 20px;
                flex: 1;
                @include Responsive(xs) {
                    display: none;
                }

                img {
                    width: 100%;
                    max-width: 100%;
                    max-height: 380px;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            .company-slogan {
                padding-top: 10px;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                align-items: center;
                width: 50px;

                h3 {
                    writing-mode: vertical-rl;
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 20px;
                    position: relative;
                    div {
                        position: absolute;
                        left: 0;
                        right: 0;
                        background-color: #000;
                        animation: widthTransition4 5s infinite ease-in-out;
                    }
                }

                .v-line {
                    width: 4px;
                    background-color: #FFFFFF;
                    writing-mode: vertical-rl;
                    flex: 1;
                }
            }
        }
    }

    .workplace {
        background-image: url("../img/bg1.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .cus-container {
            padding-top: 38px;
            padding-bottom: 74px;

            .first-row {
                // margin-bottom: 74px;    
                @include Responsive(xs) {
                    justify-content: center;
                }

                .first-row-col:nth-child(2) {
                    .card-wrap:first-child {
    
                        @include Responsive(xs) {
                            margin-top: 18px;
                        }
                        @include Responsive(sm) {
                            margin-top: 0;
                        }
                        @include Responsive(lg) {
                            margin-top: 60px;
                        }
                    }

                }
                .card-wrap + .card-wrap {
                    margin-top: 18px;
                }
                .card-wrap {
                    background-color: #FFFFFF;
                    padding: 35px 20px;
                    min-height: 300px;

                    .icon-wrap {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 35px;

                        img {
                            max-width: 70%;
                        }
                    }

                    p {
                        text-align: left;
                        font-size: 16px;
                        margin-bottom: 0;
                        font-family: Gilroy-LightItalic;
                        &::first-letter { text-transform: capitalize; }

                    }
                }

                .text-col-wrap {
                    text-align: left;
                    padding: 30px 20px 30px;
                    

                    label {
                        text-transform: uppercase;
                        color: #7d7d7d;
                        font-size: 18px;
                        font-weight: 500;
                    }

                    h2 {
                        color: #111111;
                        font-size: 36px;
                        text-transform: capitalize;
                        margin-bottom: 30px;
                    }

                    p {
                        // color: #7d7d7d;
                        color: #3b3d42;
                        font-size: 18px;
                        font-weight: 400;
                        margin-bottom: 26px;
                    }

                    .btn-readmore {
                        background-color: #000;
                        color: #FFFFFF;
                        // width: 111px;
                        display: inline-block;
                        padding: 10px 32px;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 500;

                        &:hover {
                            transform: translateY(-2px);
                            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }
    }

    .mission {
        background-color: #e5e5e5;

        .cus-container {
            padding-top: 38px;
            padding-bottom: 74px;
        }
        .second-row {
            @include Responsive(xs) {
                flex-wrap: wrap-reverse;
                row-gap: 24px !important;
            }
            @include Responsive(sm) {
                flex-wrap: wrap-reverse;
                row-gap: 24px !important;
            }

            .text-left-wrap {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                @include Responsive(lg) {
                    margin-right: calc(-1*var(--padding-x));
                }

                h2 {
                    color: #111111;
                    font-size: 36px;
                    margin-bottom: 20px;
                    text-align: left;
                    padding-left: 12px;

                    @include Responsive(xs) {
                        margin-bottom: 16px;
                    }
                    @include Responsive(sm) {
                        margin-bottom: 16px;
                    }
                }

                div {
                    background-color: var(--primary-color);
                    padding-left: 12px;
                    padding-bottom: 12px;

                    p {
                        text-align: left;
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 20px;
                        color: #4a4b4d;
                    }

                    .link-learn-more {
                        color: #111111;
                        border-bottom: 3px solid #111111;
                        display: block;
                        width: 84px;
                        margin-right: auto;
                        font-family: Gilroy-Medium;
                        transition: all 0.3s;

                        &:hover {
                            color: #FFFFFF;
                            border-color: #FFFFFF;
                        }
                    }
                }
            }
            
            .img-right-wrap {
                @include Responsive(lg) {
                    margin-left: calc(-1*var(--padding-x));
                }
                img {
                    max-width: 100%;
                    object-fit: cover;
                    // height: 535px;
                }
            }
        }
    }

    .wp-fluid {
        background-color: #e5e5e5;

        .cus-container-fluid {
            padding-bottom: 50px;

        }
        .left-wrap {
            
            @include Responsive(md) {
                // padding-left: 20px;
                padding-right: 12px;
            }
            @include Responsive(lg) {
                padding-left: 20px;
                padding-right: 0;
            }
            img {
                max-width: 100%;
                width: 100%;
                height: 450px;
                object-fit: cover;
                margin-bottom: 20px;
            }

            p {
                text-align: left;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 20px;
                color: #4a4b4d;
                max-width: 400px;

                @include Responsive(xs){
                    padding-left: 10px;
                }
                @include Responsive(sm){
                    padding-left: 10px;
                }
                @include Responsive(lg) {
                    padding-left: 0;
                }
            }
        }

        .right-wrap {
            @include Responsive(md) {
                padding-left: 12px;
            }
            @include Responsive(lg) {
                padding-left: 0;
            }
            img {
                max-width: 100%;
                height: 600px;
                object-fit: cover;
                object-position: 20% 80%;
            }
        }
    }
    
    .top-job {
        background-image: url("../img/min2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .cus-container {
            padding-top: 80px;
            padding-bottom: 53px;
        }

        .content-wrap {
            background-color: #292c33;
            padding-bottom: 40px;

            @include Responsive(xs) {
                padding-left: 10px;
                padding-right: 10px;
            }

            @include Responsive(lg) {
                padding-left: 60px;
                padding-right: 60px;
            }

            h1 {
                color: var(--primary-color);
                font-size: 56px;
                @include Responsive(xs) {
                    font-size: 36px;
                }
            }

            .description-job {
                @include Responsive(xs) { display: none; }
                @include Responsive(sm) { display: none; }
                @include Responsive(md) { display: block; }

                .ant-descriptions-row:nth-child(1) {
                    .ant-descriptions-item {
                        padding-bottom: 24px;
    
                        .ant-descriptions-item-label {
                            font-weight: 600;
                            font-size: 20px;
                            text-align: center;
                        }
    
                        .ant-descriptions-item-content {
                            font-weight: 600;
                            font-size: 20px;
                        }
                    }
                }
    
                .ant-descriptions-row:last-child {
                    .ant-descriptions-item {
                        padding-bottom: 24px;
                    }
                }
    
                .ant-descriptions-item-label {
                    color: #FFFFFF;
                    flex: 60%;
                    font-size: 18px;
                }
                .ant-descriptions-item-content {
                    color: #FFFFFF;
                    font-size: 18px;
                }
            }

            .collapse-job {
                margin-bottom: 30px;

                @include Responsive(md) { display: none; }

                .ant-collapse-header {
                    text-align: left;
                    font-size: 16px;
                    background-color: #474c55;
                    color: #FFFFFF;
                }
    
                .ant-collapse-content-box {
                    font-size: 16px;
                    font-family: Gilroy-Regular;
                    color: #FFFFFF;
                }
            }

            .btn-see-all {
                background-color: var(--primary-color);
                padding: 10px 14px;
                width: 164px;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                transition: color 0.3s;
    
                @include Responsive(xs) {
                    margin-left: auto;
                    margin-right: auto;
                }
                @include Responsive(sm) {
                    margin-left: auto;
                    margin-right: auto;
                }
                @include Responsive(lg) {
                    margin-left: 77%;
                    margin-right: initial;
                }
    
                &:hover { color: #FFFFFF; }
            }
        }
    }

    .trusted {

        .cus-container {
            padding-top: 40px;
            padding-bottom: 85px;
        }
        h2 {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 40px;
            font-family: Gilroy-Semibold;
        }
        .slick-trusted {
            .slick-track {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            img {
                max-width: 200px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .contact {
        position: relative;

        .contact-upper {
            background-color: #292c33;

            .cus-container {
            
                @include Responsive(xs) {
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
                @include Responsive(sm) {
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
                @include Responsive(md) {
                    padding-top: 40px;
                    padding-bottom: 100px;
                }
            }

            h2 {
                color: #f1c50e;
                font-size: 46px;
                font-family: Gilroy-Semibold;
                
            }

            p {
                color: #FFFFFF;
                font-size: 18px;
            }
        }

        .contact-lower {
            img {
                width: 100%;
                max-height: 450px;
                object-fit: cover;
            }
        }

        .contact-opt {
            
            @include Responsive(xs) {
                background-color: #f1c50e;
            }
            @include Responsive(sm) {
                background-color: #f1c50e;
            }
            @include Responsive(md) {
                position: absolute;
                top: 30%;
                left: 50%;
                width: 100%;
                transform: translateX(-50%);
                background-color: transparent;
            }
            

            .cus-container {
                background-color: #f1c50e;
                background-clip: content-box;
            }

            .contact-opt-row {
                @include Responsive(xs) {
                    justify-content: center;
                }
                @include Responsive(sm) {
                    justify-content: center;
                }
            }

            .contact-opt-col {
                padding-top: 25px;
                padding-bottom: 30PX;

                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Gilroy-Semibold;
                }
    
                p {
                    font-size: 16px;
                    font-family: Gilroy-Regular;
                    padding: 0 10px;
                    margin-bottom: 4px;
                }

                p.email {
                    font-weight: 700;
                    text-decoration: underline;
                }
                p.phone-number{
                    font-weight: 700;
                }
                h4, p{ color: #273A5F;}
            }

            .icon-wrap {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 16px;

                .contact-icon {
                    width: 35px;
                    path {
                        fill: var(--primary-color);
                    }
                }

                .phone {
                    animation: ring 4s .7s ease-in-out infinite;
                }

                .envelope {
                    position: relative;
                    animation: backOut 2s infinite;

                }

                .map-marker {
                    animation: upDown 3s .7s ease-in infinite;
                }
            }
            
        }
    }
}

@keyframes widthTransition1 {
    // 0% { left: 10px; right: 100%; }
    // 50% { left: 10px; right: 0; }
    // 100% { right: 0; left: 100%; }
    0% { left: 10px; right: 100%; }
    2% { left: 10px; right: 0; }
    4% { right: 0; left: 100%; }
    100% { right: 0; left: 100%; }
}
@keyframes widthTransition2 {
    4% { left: 10px; right: 100%; }
    6% { left: 10px; right: 0; }
    8% { right: 0; left: 100%; }
    100% { right: 0; left: 100%; }
}
@keyframes widthTransition3 {
    10% { left: 10px; right: 100%; }
    12% { left: 10px; right: 0; }
    14% { right: 0; left: 100%; }
    100% { right: 0; left: 100%; }
}
@keyframes widthTransition4 {
    16% { top: 0px; bottom: 100%; }
    18% { top: 0px; bottom: 0; }
    20% { bottom: 0; top: 100%; }
    100% { bottom: 0; top: 100%; }
}
@keyframes ring {
    0% { transform: rotate(0); }
    5% { transform: rotate(30deg); }
    10% { transform: rotate(-28deg); }
    15% { transform: rotate(34deg); }
    20% { transform: rotate(-32deg); }
    25% { transform: rotate(30deg); }
    30% { transform: rotate(-28deg); }
    35% { transform: rotate(26deg); }
    40% { transform: rotate(-24deg); }
    45% { transform: rotate(22deg); }
    50% { transform: rotate(-20deg); }
    55% { transform: rotate(18deg); }
    60% { transform: rotate(-16deg); }
    65% { transform: rotate(14deg); }
    70% { transform: rotate(-12deg); }
    75% { transform: rotate(10deg); }
    80% { transform: rotate(-8deg); }
    85% { transform: rotate(6deg); }
    90% { transform: rotate(-4deg); }
    95% { transform: rotate(2deg); }
    100% { transform: rotate(-1deg); }
}
@keyframes upDown {
    0%{
        transform:translateY(0);
    }
    
    50%{
    transform:translateY(-10px);
    }
    
    100%{
    transform:translateY(0px);
    } 
}
@keyframes backOut {
    0% { transform: scale(1); }
    5% { transform: scale(0.9); }
    10% { transform: scale(0.8); }
    15% { transform: scale(0.7); }
    20% { transform: scale(0.6); }
    25% { transform: scale(0.5); }
    26% {
        top: -1%;
        left: 1%;
        opacity: 0.9;
    }
    27% {
        top: -2%;
        left: 2%;
        opacity: 0.8;
    }
    28% {
        top: -4%;
        left: 4%;
        opacity: 0.7;
    }
    29% {
        top: -6%;
        left: 6%;
        opacity: 0.6;
    }
    30% {
        top: -8%;
        left: 8%;
        opacity: 0.5;
    }
    31% {
        top: -10%;
        left: 10%;
        opacity: 0.4;
    }
    32% {
        top: -12%;
        left: 12%;
        opacity: 0.3;
    }
    33% {
        top: -14%;
        left: 14%;
        opacity: 0.2;
    }
    34% {
        top: -16%;
        left: 16%;
        opacity: 0.1;
    }
    35% {
        top: -18%;
        left: 18%;
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}