@font-face {
  font-family: Gilroy-Regular;
  src: url(./assets/fonts/gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(./assets/fonts/gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(./assets/fonts/gilroy/Gilroy-Bold.ttf);
}

.c-h1 {
  font-family: Gilroy-SemiBold;
  font-size: 60px;
  line-height: 110%;
  /* or 66px */

  letter-spacing: -1.5px;
  color: #17274e;
}

.c-h2 {
  font-family: Gilroy-SemiBold;
  font-size: 48px;
  line-height: 115%;
  /* or 55px */

  letter-spacing: -1px;
  color: #17274e;
}

.c-h3 {
  font-family: Gilroy-SemiBold;
  font-size: 36px;
  line-height: 125%;
  /* or 45px */

  letter-spacing: -1px;
  color: #17274e;
}

.c-h4 {
  font-family: Gilroy-SemiBold;
  font-size: 32px;
  line-height: 135%;
  /* or 43px */

  letter-spacing: -0.5px;
  color: #17274e;
}

.c-h5 {
  font-family: Gilroy-SemiBold;
  font-size: 22px;
  line-height: 135%;
  /* or 30px */

  letter-spacing: -0.25px;
  color: #17274e;
}

.c-h6 {
  font-family: Gilroy-Regular;
  font-size: 19px;
  line-height: 145%;
  color: #17274e;
}

.c-p {
  font-family: Gilroy-Regular;
  font-size: 19px;
  line-height: 145%;
  color: #3e5476;
}

.c--bold {
  font-family: Gilroy-Bold !important;
}

.grey-1, h1{
  color: #091738
}

.grey-02, h2, h3, h4, h5, h6 {
  color: #17274e;
}

.grey-03, p {
  color: #3e5476;
}

.grey-04 {
  color: #a4b7c8;
}

.arc-blue {
  color: #0b72b9;
}

.black {
  color: black;
}

.text-center {
  text-align: center;
}

.c-header-container {
  padding: 100px 7%;
}

.c-cus-container {
  padding: 50px 10%;
}

.styles-module_blinkingCursor__288eE {
  font-size: 20px !important;
  font-family: Gilroy-SemiBold !important;
}

.catalog-job {
  border: 1px solid #999;
  margin-right: 10px;
  margin-top: 10px;
  padding: 3px 9px;
  background-color: #fafafa;
  cursor: pointer;
  color: #707070;
  font-size: 14px;
}

@media (max-width: 992px) {
  .c-h1 {
    font-size: 48px !important;
    line-height: 115% !important;
    /* or 55px */
    color: #17274e;
  }
}

@media (max-width: 768px) {
  /* .c-h1 {
    font-size: 36px !important;
    line-height: 125% !important;

  } */
  .MuiSkeleton-text {
    width: 100%;
  }
  .c-cus-container,
  .c-header-container {
    padding: 50px 0 !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .c-h3 {
    font-size: 22px !important;
    line-height: 135% !important;
    /* or 30px */

    letter-spacing: -0.25px;
  }
  .c-h3--maintain {
    font-size: 36px !important;
    line-height: 125% !important;
  }

  .c-h2 {
    font-size: 36px !important;
    line-height: 125% !important;
  }
}

@media (max-width: 576px) {
  .c-h2 {
    font-size: 22px !important;
    line-height: 135% !important;
    /* or 30px */

    letter-spacing: -0.25px;
  }
  .c-h5 {
    font-family: "Gilroy-Regular";
    font-size: 19px !important;
    line-height: 145% !important;
  }

  .c-h5--maintain {
    font-size: 22px !important;
    font-family: "Gilroy-SemiBold" !important;
    line-height: 135% !important;
  }

  .c-h5--bold {
    font-family: "Gilroy-SemiBold" !important;
  }

  .c-h1 {
    font-size: 32px !important;
    line-height: 135% !important;
  }

  .c-h4 {
    font-size: 22px !important;
    font-family: "Gilroy-SemiBold" !important;
    line-height: 135% !important;
  }

  .c-p {
    font-size: 16px !important;
  }
}
